[submodule "deps/plog"]
	path = deps/plog
	url = https://github.com/rbfx/plog.git
	shallow = true
[submodule "deps/usrsctp"]
	path = deps/usrsctp
	url = https://github.com/rbfx/usrsctp.git
	shallow = true
[submodule "deps/libjuice"]
	path = deps/libjuice
	url = https://github.com/rbfx/libjuice.git
[submodule "deps/json"]
	path = deps/json
	url = https://github.com/nlohmann/json.git
	shallow = true
[submodule "deps/libsrtp"]
	path = deps/libsrtp
	url = https://github.com/rbfx/libsrtp.git
	shallow = true
